{% extends "users/base.html" %}
{% load static %}

{% block style %}
<style>
    .colleague-item {
        display: flex;
        align-items: center;
        color: black;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
    }

    .online-marker {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .online {
        background-color: green;
    }

    .offline {
        background-color: red;
    }

    .btn-delete {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .btn-delete img {
        height: 15px;
        width: 15px;
        filter: hue-rotate(120deg);
    }

    .friend-request-item {
        display: flex;
        align-items: center;
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container bg-dark text-light" style="margin-top: 90px;">
    <div class="row border">
        <div class="col-lg-5 border-end">
            {% if messages %}
                <div class="alert alert-dismissible fade show position-fixed top-5 end-20" role="alert" id="autoHideAlert" style="margin-top: -15px; margin-right: -50px;bottom: 1%; right: 1%; height: 60px; border-radius: 5px; text-align: center; font-size: 20px; z-index: 1000;">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                <script>
                    setTimeout(function() {
                        var alertDiv = document.getElementById('autoHideAlert');
                        alertDiv.style.transition = 'opacity 1s';
                        alertDiv.style.opacity = 0;

                        setTimeout(function() {
                            alertDiv.style.display = 'none';
                        }, 1000);
                    }, 3000);
                </script>
            {% endif %}
            <div class="profile-block">
                <h4 class="mt-3 mb-3">Профиль</h4>
                <hr>
                <div class="col-lg-12 text-center">
                    <img width="100" height="100" src="{% if user.image %} {{ user.image.url}} {% else %} {% static 'img/profile.png' %} {% endif %}" class="img-thumbnail">
                </div>
                <form action="{% url 'profile' %}" method='post' , enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row mb-2">
                        <div class="col-lg-12">
                            <div class="custom-file mt-2">
                                {{ form.image }}
                                <label class="custom-file-label" for="{{ form.image.id_for_label }}">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row me-3">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.first_name.id_for_label }}">
                                    Имя
                                </label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.last_name.id_for_label }}">
                                    Фамилия
                                </label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row me-3">
                        <div class="col-lg-12">
                            <label class="small mb-1" for="{{ form.username.id_for_label }}">
                                Имя пользователя
                            </label>
                            {{ form.username }}
                        </div>
                        <div class="col-lg-12">
                            <label class="small mb-1" for="{{ form.email.id_for_label }}">
                                Адрес электронной почты
                            </label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-row me-3">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-warning btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-7 mt-3">
            <h4>Управление командой</h4>
            <hr>
            <div class="search-form mt-4">
                <h4 class="mt-3 mb-3">Поиск пользователей</h4>
                <form action="{% url "user_search" %}" method="get">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" name="search_query" placeholder="Введите имя пользователя">
                        </div>
                        <div class="col-lg-3">
                            <button type="submit" class="btn btn-warning mt-2">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="colleague-list mt-2">
                <h4 class="mt-3 mb-3">Список коллег</h4>
                <ul>
                    {% for friend in friends %}
                    <li class="colleague-item bg-warning">
                        <div class="online-marker {% if friend.is_online %}online{% else %}offline{% endif %}"></div>
                        <div>
                            {{ friend.first_name }} {{ friend.last_name }}
                        </div>
                        <form method="post" action="{% url 'remove_friend' friend.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-delete me-2 p-2" style="height:10px;">
                                <img src="{% static 'img/delete.png' %}">
                            </button>
                        </form>
                    </li>
                    {% empty %}
                    <p>Вы еще не добавили коллегу</p>
                    {% endfor %}
                </ul>
            </div>
            <hr class="mt-4">
            <div class="friend-requests mt-4">
                <h3>Заявки в друзья:</h3>
                {% if friend_requests %}
                    <ul>
                        {% for request in friend_requests %}
                        <li class="mb-2" style="list-style: none">
                            <div class="d-flex justify-content-between align-items-center">
                                {% if request.from_user == user.id %}
                                    <span class="friend-request-item bg-warning еуч">Заявка к пользователю {{ request.to_user.username }}</span>
                                {% else %}
                                    <li class="friend-request-item bg-warning">
                                        <div class="text-dark">
                                            {{ request.from_user.first_name }} {{ request.from_user.last_name }}
                                        </div>
                                        <div class="d-flex ms-2" style="height: 10px">
                                            <form method="post" action="{% url 'accept_friend_request' request.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success" style="background-color: transparent; border: none; margin-right: 10px; margin-top: -10px">
                                                    <img src="{% static 'img/check.png' %}" style="height: 20px; width: 20px;">
                                                </button>
                                            </form>
                                            <form method="post" action="{% url 'reject_friend_request' request.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" style="background-color: transparent; border: none; margin-left: -20px;margin-top: -10px">
                                                    <img src="{% static 'img/close.png' %}" style="height: 20px; width: 20px; ">
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Нет заявок в друзья.</p>
                {% endif %}
            </div>
{% endblock %}

